# Subsetting Both Rows and Columns

<img src='subset_rc.jpg' style='width:300px;height:250px'/>

In [1]:
import pandas as pd

In [2]:
hero = pd.read_pickle('hero_4.pkl')

In [3]:
hero.head()

,name,gender,eye color,race,hair color,height,publisher,alignment,weight,hero names,...,web creation,reality warping,odin force,symbiote costume,speed force,phoenix force,molecular dissipation,vision - cryo,omnipresent,omniscient
0,A-Bomb,Male,yellow,Human,No Hair,203,Marvel Comics,good,441.0,A-Bomb,...,False,False,False,False,False,False,False,False,False,False
1,Abomination,Male,green,Human / Radiation,No Hair,203,Marvel Comics,bad,441.0,Abomination,...,False,False,False,False,False,False,False,False,False,False
2,Abraxas,Male,blue,Cosmic Entity,Black,-99,Marvel Comics,bad,-99.0,Abraxas,...,False,False,False,False,False,False,False,False,False,False
3,Absorbing Man,Male,blue,Human,No Hair,193,Marvel Comics,bad,122.0,Absorbing Man,...,False,False,False,False,False,False,False,False,False,False
4,Agent Bob,Male,brown,Human,Brown,178,Marvel Comics,good,81.0,Agent Bob,...,False,False,False,False,False,False,False,False,False,False

In [4]:
hero.loc[0,:]

name                      A-Bomb
gender                      Male
eye color                 yellow
race                       Human
hair color               No Hair
                          ...
phoenix force              False
molecular dissipation      False
vision - cryo              False
omnipresent                False
omniscient                 False
Name: 0, Length: 177, dtype: object

In [5]:
hero.loc[0,'race']

'Human'

In [7]:
hero.iloc[0,3]

'Human'

In [9]:
hero.loc[2:4,'race':'height']

            race hair color  height
2  Cosmic Entity      Black     -99
3          Human    No Hair     193
4          Human      Brown     178

In [11]:
hero.iloc[2:5,3:6]

            race hair color  height
2  Cosmic Entity      Black     -99
3          Human    No Hair     193
4          Human      Brown     178

In [14]:
hero.loc[10:20,['hero names','super strength','flight','super speed']]

         hero names  super strength  flight  super speed
10       Angel Dust            True   False         True
11  Angel Salvadore           False    True        False
12        Annihilus            True    True         True
13          Ant-Man           False   False        False
14       Ant-Man II            True   False        False
15       Anti-Venom            True   False        False
16       Apocalypse            True    True         True
17          Arachne            True   False         True
18        Archangel            True    True        False
19         Arclight            True   False        False
20           Ardina            True    True         True

In [17]:
hero.iloc[10:21,[9,27,18,40]]

         hero names  super strength  flight  super speed
10       Angel Dust            True   False         True
11  Angel Salvadore           False    True        False
12        Annihilus            True    True         True
13          Ant-Man           False   False        False
14       Ant-Man II            True   False        False
15       Anti-Venom            True   False        False
16       Apocalypse            True    True         True
17          Arachne            True   False         True
18        Archangel            True    True        False
19         Arclight            True   False        False
20           Ardina            True    True         True

In [22]:
# hero[hero['flight']==True,'name']
# it does not work; instead, using eiter loc or iloc

In [19]:
hero.loc[hero['flight']==True,'name']

2              Abraxas
6           Air-Walker
9                Angel
11     Angel Salvadore
12           Annihilus
            ...
529              Vixen
530               Warp
532           Wildfire
533        Wonder Girl
534       Wonder Woman
Name: name, Length: 197, dtype: string

In [21]:
hero.iloc[(hero['flight']==True).values,0]

2              Abraxas
6           Air-Walker
9                Angel
11     Angel Salvadore
12           Annihilus
            ...
529              Vixen
530               Warp
532           Wildfire
533        Wonder Girl
534       Wonder Woman
Name: name, Length: 197, dtype: string

# Summary

<img src='sum_subset_df.jpg'>